
.main {  
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    color: white;   
    transition: background 3s;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.icon{
    font-size: 100px;
    color: white;
}

.buttonSearch{
    /* background-image: url(./search-solid.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px; */
    background:none;
    border: none;
    color: white;
    font-size: 30px;
    transition: all ease 0.5s;
    
}
.buttonSearch:hover{
    font-size: 40px;    
}
.buttonSearch:active{

}


.inputComponent{

    margin-top: 50px;
    height: 80px;
    position: relative;
    text-align: left;
    



}
.input{
    background-color: transparent;
    color: white;
    width: 100%;
    height: 100%;  
    padding-top: 20px;
    border: none;
    font-size: 25px;

    
}
.input:focus{
    background-color: transparent;
    box-shadow: none;
}
.labelCity{
    position: absolute;
    width: 100%;
    height: 50px;     
    right: 3px;
    top:30%;
    border-bottom: 2px solid white;
    pointer-events: none;
    text-align: left;
}
.contentCity{
    left: 0%;
    
}

.card {
    position: relative;
    width: 900px;
    height: 470px;
    /* left: 30%;
    top: 100px; */
    /* background: url(./background.jpg);  */
    /* background: url(background.jpg);    */
    
    
}

.card_top{
    height: 250px;  
    background:transparent;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  

  /* background-color: wheat; */

}

.card_top_item{
    width: 250px;
    margin-top: 10px;
    height: 220px;
    background-color: transparent;
    font-weight: bold;
    
   /* background-color:yellowgreen; */
}
.card_top_item_description{
    font-size: 30px;

}
.card_top_item_location{
    font-size: 25px;
    margin-top: 20px;
}
.card_top_item_temp{
    font-size: 60px;
}
.card_top_item_tempMaxMin{
    font-size: 30px;
    color: #E0E0E0;
    margin-bottom: 20px;
}
.card_top_item_HWV{
    font-size: 20px;
    margin-top: 10px;
    text-align:left;
    margin-left: 20px;
}
.card_bottom{
    background-color: transparent;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    font-weight: bold;
}

.card_bottom_item{
    
    width: 150px;
    margin-top: 7.5px;
    height: 230px;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    
  
}

.card_bottom_item_date{
    font-size: 20px;
    text-align:left;
    margin-left: 15px;
    
}
.card_bottom_item_icon{
    text-align:left;
    margin-left: 5px;
    margin-top: 10px;
}

.card_bottom_item_temperture{
    font-size: 30px;
    text-align:left;
    margin-left: 15px;
    margin-top: 10px;
}
.card_bottom_item_description{
    font-size: 17px;
    text-align:left;
    margin-left: 15px;
    margin-top: 10px;
}

@media(max-width:899px){
    .main{
        width: 100%;
        /* height:; */
    }
    .card{
        width:100%;
    }
    .card_top{
        width: 100%;
    }
    .card_bottom{
        width: 100%;
    }

}

@media(max-width:749px){
    .main{
        position: relative;
        width: 100%;
        height: 900px;
        background: black !important;
    }
    .card{
       width: 100%;
       height:900px;
      
    }
    .card_top{
        width:100%;
        height:440px;
          
    }
    .card_bottom_item{
        margin: 0px;
      
    } 
    .card_top_item{
        margin: 0px;
        
    }
    .card_bottom{
        width:100%;
        height:460px;     
    }
   
}

@media(max-width:499px){
    .main{
        position: relative;
        width: 100%;
        height: 1120px;
        background: black !important;
    }
    .card{
       width: 100%;
       height:1120px;
      
    }
    .card_top{
        width:100%;
        height:660px;
          
    }
    .card_bottom_item{
        margin: 0px;
        
    } 
    .card_top_item{
        margin: 0px;
       
    }
    .card_bottom{
        width:100%;
        height:460px;     
    }

}


@media(max-width:449px){
    .main{
        position: relative;
        width: 100%;
        height: 1350px;
        background: black !important;
    }
    .card{
       width: 100%;
       height:1350px;
      
    }
    .card_top{
        width:100%;
        height:660px;
          
    }
    .card_bottom_item{
        margin: 0px;
       
    } 
    .card_top_item{
        margin: 0px;
        
    }
    .card_bottom{
        width:100%;
        height:690px;     
    }

}

@media(max-width:299px){
    .main{
        position: relative;
        width: 100%;
        height: 1410px;
        background: black !important;
    }
    .card{
       width: 100%;
       height:1410px;
      
    }
    .card_top{
        width:100%;
        height:660px;
          
    }
    .card_bottom_item{
        margin: 0px;
        
    } 
    .card_top_item{
        margin: 0px;
        
    }
    .card_bottom{
        width:100%;
        height:750px;     
    }

}



