.main {
    position: relative;
    /* background: linear-gradient(91deg, #f1eefc, #9dc6ff 70%, #a5bcff); */
    /* （body背景色） */
    height: 700px;
    font-family: sans-serif;
    background: url(./thunderstorm.jpeg); 
    background-size:cover;
    color: white;
}

.icon{
    font-size: 100px;
    color: white;
}
.input{
    background-color: transparent;
    color: white;
    border-bottom: 5px solid black;
    border-radius: 0;
    border:0;
}
.input:focus{
    background-color: transparent;
    box-shadow: none;
}

.card {
    position: relative;
    width: 900px;
    height: 500px;
    left: 200px;
    top: 100px;
    /* background: url(./background.jpg);  */
    /* background: url(background.jpg);    */
    
    
}

.card_top{
    height: 250px;  
    background:transparent;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card_top_item{
    width: 250px;
    margin-top: 27.5px;
    height: 175px;
    background-color: transparent;
}
.card_bottom{
    background-color: transparent;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card_bottom_item{
    background-color:white;
    width: 150px;
    margin-top: 27.5px;
    height: 200px;
    background-color: transparent;
}

